.main {
   padding-bottom: 40px;
}

.main__title {
   margin-bottom: 40px;
   font-weight: 700;
   font-size: 32px;
   line-height: 39px;
   padding-top: 40px;
   display: flex;
   justify-content: space-between;
}

.card {
   width: 220px;
   background: #FFFFFF;
   border: 1px solid #F3F3F3;
   box-sizing: border-box;
   border-radius: 40px;
   cursor: pointer;
   &:hover {
      background: #FFFFFF;
      border: 1px solid #F8F8F8;
      box-sizing: border-box;
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
      border-radius: 40px;
   }
   &__img {
      display: block;
      margin: 0 auto 25px;
   }
   &__price {
      display: flex;
      justify-content: center;
   }
   &__descr {
      margin-bottom: 20px;
      text-align: center;
   }
   &__price-subtitle {
      margin-right: 10px;
   }
   &__price {
      margin-bottom: 20px;
   }
   &__price-price {
      font-weight: 700;
   }
}
.card__price-btn {
   display: block;
   margin: 0 auto;
   padding: 10px;
   border: none;
   background: #faf3f3;
   border: 1px solid #F2F2F2;
   border-radius: 8px;
   cursor: pointer;
   width: 70%;
   margin-bottom: 20px;
   &:hover {
      background: #ff9494;
   }
   .card p {
      text-align: center;
      margin-bottom: 10px;
   }  
}